In [1]:
import pandas as pd
import glob
import os
import re
import pickle

from utils import *

In [ ]:
seasons = [f"{year}-{year+1}" for year in range(2017, 2024)]

for season in seasons:
    if season == '2023-2024':
        rounds = 14
    else:
        rounds = 38
    concatenateChunks(season, './all_seasons_data/', rounds)

In [2]:
seasons = [f"{year}-{year+1}" for year in range(2017, 2024)]

for season in seasons:
    if season == '2023-2024':
        rounds = 14
        mergeGw(season, './all_seasons_data/', rounds)
    else:
        rounds = 38
        mergeGw(season, './all_seasons_data/', rounds)

Succesfully merged into season 2017-2018
Succesfully merged into season 2018-2019
Succesfully merged into season 2019-2020
Succesfully merged into season 2020-2021
Succesfully merged into season 2021-2022
Succesfully merged into season 2022-2023
Succesfully merged into season 2023-2024

In [3]:
seasons = [f"{year}-{year+1}" for year in range(2017, 2024)]
for season in seasons:
    concatenateGw(season, './season_data/')

Succesfully merged into season 2017-2018
Succesfully merged into season 2018-2019
Succesfully merged into season 2019-2020
Succesfully merged into season 2020-2021
Succesfully merged into season 2021-2022
Succesfully merged into season 2022-2023
Succesfully merged into season 2023-2024

In [4]:
concatenate_all('./season_data/')

Succesfully merged all seasons

In [5]:
df_all = pd.read_csv('./season_data/all_seasons.csv')

In [6]:
len(df_all.columns)

105

In [7]:
df_all.head()

,player,shirtnumber,nationality,position,age,minutes,tackles,tackles_won,tackles_def_3rd,tackles_mid_3rd,...,progressive_passes_received,goals,pens_made,pens_att,shots,shots_on_target,xg,npxg,sca,gca
0,Miguel Ángel Guerrero,9,es ESP,FW,27-037,90,1.0,1,0.0,0.0,...,10.0,0,0,0,4,1,0.3,0.3,2.0,1.0
1,Alexander,11,ar ARG,LW,28-309,90,1.0,1,0.0,1.0,...,5.0,0,0,0,2,0,0.1,0.1,5.0,0.0
2,Omar Ramos,23,es ESP,RW,29-204,64,2.0,2,1.0,0.0,...,5.0,0,0,0,1,0,0.0,0.0,5.0,0.0
3,Erik Morán,4,es ESP,DM,26-085,26,0.0,0,0.0,0.0,...,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,Javier Eraso,17,es ESP,"AM,RW",27-149,69,2.0,1,1.0,1.0,...,6.0,0,0,0,0,0,0.0,0.0,1.0,0.0

In [8]:
df_all.shape

(71744, 105)